/* style for small device */
@media screen and (max-width: 576px) {
    header{
        margin: 5px 5px;
    }
   
    .menu > ul{
        display: none;
    }
    .logo h3{
        font-size: 1.4rem;
        font-weight: 800;
        text-align: center;
    }

    .banner{
        height: 815px;
    }
    
    .banner-bg{
        height: 475px;
    }
    .banner-title{
        color: #FFF;
        font-size: 2rem;
        font-weight: 800;
    }   
    .banner-content{
        padding: 5px 5px;
    }
    .input{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        border-radius: 20px;
        padding: 20px 15px;
        gap: 0;
        height: 500px;
        width: 360px;
    }
    .where{
        width: 340px;
        height: 85px;
        font-size: 15px; 
    }
    #when{
       width: 358px;
       height: 85px;
    }
    .find{
       width: 358px;
       height: 85px;
       border-radius: 8px;
       background: #FF5400;
       border: none;
       padding-left: 10px;
       padding-right: 10px;
       color: #FFF;
}

    main{
        margin: 5px 10px;
    }
    .popular{
        display: grid;
        grid-template-columns: 1fr;
    }
    #more{
        width: 175px;
        height: 50px;
    }
    .popular-img img{
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .choose-us-content{
        flex-direction: column;
    }
    .hotel, .map, .pricetag{
        width: 100%;
    }
    .pricetag{
        margin-left: 0px;
    }
    .newsletter{
        flex-direction: column;
    }
    .newsletter-image img{
        width: 100%;
    }
    .footer-content{
        margin: 0px 0px;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        
    }
    .footer-logo{
        padding-left: 110px;
    }
    .social-icon{
        padding-left: 0px;
    }
    .hr{
        width: 100%;
        margin-left: 0px;
    }
    .save{
        color: #FFF;
        border-radius: 8px;
        background: #FF5400;
        width: 100px;
        height: 50px;
        padding: 5px;
        text-align: center;
        transform: rotate(-19.628deg);
        position: relative;
        left: 255px;
        bottom: 85px;
    }
    
    .save > h3{
        font-size: 25px;
        font-weight: 800;
    }
    .hr{
        display: none;
    }
}