/* mulish font form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}
body{
    margin: 0 auto;
}

.para{
    color: #131318;;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}


/* header styles */
header{
    margin: 50px 135px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-align: center;
}
.logo h3{
    color: #131318;
    font-family: Mulish;
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
}

h3 > img{
    margin-right: 10px;
    text-align: center;
}


.menu > ul{
    display: flex;
}
.menu li{
    list-style: none;
    margin-left: 50px;
    font-weight: 400;
    font-size: 1.2rem;
}
#travel{
    color: #FF5400;
}    
.menu li a{
    text-decoration: none;
    color: #424247;
}

.banner{
    height: 475px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg{
    background-color: #1a0f0f5e;
    border-radius: 20px;
    height: 475px;
}
.banner-content{
    text-align: center;
    padding: 40px 185px;
    
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-content p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}
.input{
    background: rgba(255, 255, 255, 0.30);
    padding: 20px;
    border-radius: 8px;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.where{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
#when{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.find{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    border: hidden;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
}


/* Main styles*/
main{
    margin: 50px 135px; 
    margin-bottom: 0px;

}

/* Popular section styles */
.popular{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin-bottom: 100px;
}
.popular-content{
    height: 620px;
}
.popular-content p{
    text-align: justify;
}

.popular-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}


/* destination section styles */
.destination{
    text-align: center;
    margin-bottom: 100px;
}
.destination-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

/* choose us section style */
.choose-us{
    text-align: center;
    margin-bottom: 100px;
}
.choose-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose-us-content{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 18px;
    padding-top: 50px;
}
.hotel{
    width: 49%;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05)
}
.hotel-content{
    padding: 25px;
}
.map{
    width: 49%;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.map-content{
    padding: 25px;
}
.pricetag{
    width: 50%;
    text-align: left;
    border-radius: 16px;
    margin-left: 285px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.pricetag-content{
    padding: 25px;
}

/* Newsletter section styles */
.newsletter{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.news{
    border: 1px solid tomato;
    border-radius: 16px;
    height: 425px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}
.form-input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 50px;
    border: hidden;
    padding-left: 10px;
}
.form-btn{
    border-radius: 8px;
    background: #FF5400;
    height: 50px;
    border: hidden;
    color: #FFF;
}

.save{
    color: #FFF;
    border-radius: 16px;
    background: #FF5400;
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    transform: rotate(-19.628deg);
    position: relative;
    left: 440px;
    bottom: 165px;
}

.save > h3{
    font-size: 25px;
    font-weight: 800;
    border: 3px solid lightskyblue;
}


/* footer styles  */
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer-content{
    margin: 0px 135px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.social-icon{
    padding-left: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-icon > ul{
    display: flex;
}
.social-icon li{
    list-style: none;
    margin-left: 50px;
}
.social-icon li a{
    text-decoration: none;
}
#right{
    padding-top: 30px;
}
.hr{
    width: 800px;
    border-bottom: 1px solid gainsboro;
    margin-left: 170px;
}



